@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Manrope', sans-serif;
    color: #121417;
    @apply font-medium;
  }

  .custom-swiper-pagination {
    position: relative;
    bottom: 0;
    text-align: center;
  }

  .custom-swiper-pagination .swiper-pagination-bullet {
    @apply bg-bank-gray-800;
  }

  .custom-swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-black;
  }

  .swiper {
    --swiper-navigation-color: #121417; /* 单独设置按钮颜色 */
    --swiper-navigation-size: 20px; /* 设置按钮大小 */
  }

  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    opacity: 0.5;
  }
}

